@media (min-width: 500px) {
  .landingImage {
    height: 80vh;
  }
}
.landingImage {
  position: relative;
  background-image: url("/images/landing_background.jpg");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: #9aa0ac solid 1px;
}

.landingSection {
  display: flex;
  padding: 120px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.81);
}

/*# sourceMappingURL=landingPage.css.map */
