h3.logo {
  margin-bottom: 3px !important;
}

.margin5 {
  margin: 5px;
}

.languageFlag i:hover {
  border: 1px solid #295a9f;
}

.languageFlag i {
  border: none;
  margin: 2px !important;
}

.languageFlag i.current {
  padding: 2px;
  border: 1px solid #295a9f;
}

div.is-invalid .reactSelect__control {
  border: 1px solid #cd201f;
}

div.is-required .reactSelect__control {
  border: 1px solid #f1c40f !important;
}

.is-required {
  border-color: #f1c40f !important;
}

.react-select__menu {
  z-index: 5;
}

.react-select__menu-list {
  z-index: 5;
}

.zIndex100 {
  z-index: 100;
}

.zIndex99 {
  z-index: 99;
}

.zIndex98 {
  z-index: 98;
}

.zIndex97 {
  z-index: 97;
}

.zIndex96 {
  z-index: 96;
}

.zIndex95 {
  z-index: 95;
}

.zIndex94 {
  z-index: 94;
}

.zIndex93 {
  z-index: 93;
}

.zIndex92 {
  z-index: 92;
}

.zIndex91 {
  z-index: 91;
}

.zIndex90 {
  z-index: 90;
}

.logo-link {
  color: inherit;
  font-size: 1.25rem;
  white-space: nowrap;
  font-weight: 600;
  padding: 0;
  transition: 0.3s opacity;
  line-height: 2rem;
}

.logo-link:hover {
  opacity: 0.8;
  color: inherit;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  z-index: 50;
}

.footerPlaceholder {
  width: 100%;
  height: 60px;
}

/* Bootstrap table fill row on cursor move */
.table-hover > tbody > tr:hover:not(.expanding-row) {
  background-color: #dae5f5 !important;
  cursor: pointer;
}

.digiTable th {
  vertical-align: top !important;
  font-weight: bold;
  text-transform: none;
  font-size: 1em;
  background-color: #FF5E27;
  color: white !important;
}
.digiTable table th {
  background-color: #3498db;
  font-size: 0.9em;
  font-weight: 300;
}
.digiTable table {
  font-size: 0.9em;
}
.digiTable td {
  vertical-align: middle !important;
  text-align: center;
}
.digiTable .disabledRow {
  color: lightgrey;
}
.digiTable .row-expansion-style {
  text-align: left !important;
}
.digiTable .greenBackground {
  background-color: #D1E8C4 !important;
}
.digiTable .redBackground {
  background-color: #FFE5D7 !important;
}
.digiTable .filter-label {
  display: block;
}
.digiTable .customSelectFilter {
  color: black !important;
}
.digiTable .customSelectFilter.isSelected .reactSelect__control {
  justify-content: flex-end;
}
.digiTable .customSelectFilter.isSelected .reactSelect__value-container {
  flex-basis: 100%;
}

.card-titleText {
  font-size: 0.9em;
}

.time-line-item {
  text-align: left;
}

.mapDescription {
  position: absolute;
  right: 15px;
  background-color: #FFEED8;
  border: 1px solid #a8abad;
  padding: 0px 10px;
  top: 15px;
}

.mapDescription header {
  font-weight: bold;
}

.reactSelect__menu {
  z-index: 100 !important;
}

.custom-switch {
  padding-left: 0px !important;
}

button.icon {
  display: contents;
  cursor: pointer;
}
button.icon :hover {
  color: #FF5E27;
}

.cursorPointer {
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
