@import 'colorSetup';
@import './Bootstrap/functions';
@import './Bootstrap/variables';

h3.logo {
  margin-bottom: 3px !important;
}

.languageFlag i:hover {
  border: 1px solid #295a9f;
}

.languageFlag i {
  border: none;
  margin: 2px !important;
}

.languageFlag i.current {
  padding: 2px;
  border: 1px solid #295a9f;
}

div.is-invalid .reactSelect__control {
  border: 1px solid #cd201f;
}

div.is-required .reactSelect__control {
  border: 1px solid #ff7373 !important;
}

.react-select__menu {
  z-index: 5;
}

.react-select__menu-list {
  z-index: 5;
}

.is-required {
  border-color: #ff7373 !important;
}

.zIndex100 {
  z-index: 100;
}

.zIndex99 {
  z-index: 99;
}

.zIndex98 {
  z-index: 98;
}

.zIndex97 {
  z-index: 97;
}

.zIndex96 {
  z-index: 96;
}

.zIndex95 {
  z-index: 95;
}

.zIndex94 {
  z-index: 94;
}

.zIndex93 {
  z-index: 93;
}

.zIndex92 {
  z-index: 92;
}

.zIndex91 {
  z-index: 91;
}

.zIndex90 {
  z-index: 90;
}

.logo-link {
  color: inherit;
  font-size: 1.25rem;
  white-space: nowrap;
  font-weight: 600;
  padding: 0;
  transition: 0.3s opacity;
  line-height: 2rem;
}

.logo-link:hover {
  opacity: 0.8;
  color: inherit;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  z-index: 50;
}

.footerPlaceholder {
  width: 100%;
  height: 60px;
}

.showAsLink {
  text-decoration: underline;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

/* Bootstrap table fill row on cursor move */
.table-hover > tbody > tr:hover:not(.expanding-row) {
  background-color: #dae5f5 !important;
  cursor: pointer;
}

.digiTable {
  th {
    vertical-align: top !important;
    font-weight: bold;
    text-transform: none;
    font-size: 1em;
    background-color: $primaryColor;
    color: white !important;
  }

  table th {
    background-color: #3498db;
    font-size: 0.9em;
    font-weight: 300;
  }

  table {
    font-size: 0.9em;
  }

  td {
    vertical-align: middle !important;
    text-align: center;
  }

  .disabledRow {
    color: lightgrey;
  }

  .row-expansion-style {
    text-align: left !important;
  }

  .greenBackground {
    background-color: #d1e8c4 !important;
  }

  .redBackground {
    background-color: #ffe5d7 !important;
  }

  .selectedRow {
    background-color: rgb(219, 228, 245) !important;
  }

  .filter-label {
    display: block;
  }

  .customSelectFilter {
    color: black !important;
  }

  .customSelectFilter.isSelected {
    .reactSelect__control {
      justify-content: flex-end;
    }

    .reactSelect__value-container {
      flex-basis: 100%;
    }
  }
}

.card-titleText {
  font-size: 0.9em;
}

.time-line-item {
  text-align: left;
}

.mapDescription {
  position: absolute;
  right: 15px;
  background-color: #ffeed8;
  border: 1px solid #a8abad;
  padding: 0px 10px;
  top: 15px;
}

.mapDescription header {
  font-weight: bold;
}

.reactSelect__menu {
  z-index: 100 !important;
}

.custom-switch {
  padding-left: 0px !important;
}

button.icon {
  display: contents;
  cursor: pointer;

  :hover {
    color: $primaryColor;
  }
}

.cursorPointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.transparentButton {
  background-color: transparent;
  border: 0;
  text-align: left;
  padding: 0;
}

.card-profile-img {
}

/*Button as link setup - mainly for IE11*/
button {
  overflow: visible;
  width: auto;
}

button.link {
  border: none;
  background: none;
  text-align: left;
  color: $link-color;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: inline;

  &:hover {
    color: $link-hover-color;
  }
}

.header-search {
  padding-right: 0px !important;
}

.form-input__cancel-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 6px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.form-input__cancel-icon:after {
  cursor: pointer;
  background-color: #216ba5;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: '\00d7';
}
