@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.long {
    display: none;
}

@media (min-width: 768px) {
    .short {
        display: none;
    }

    .long {
        display: inline;
    }
}