@import 'colorSetup';
/* NOTE: the order of these styles DO matter*/

/* Will edit everything selected including everything between a range of dates*/
.CalendarDay__selected_span {
  background: $secondaryColor;
  color: white;
  border: 1px solid $primaryColor; /*default styles include a border*/
}

/* Will edit selected date or the endpoints of a range of dates*/
.CalendarDay__selected {
  background: $secondaryColor;
  border: 1px double $secondaryColor;
  color: white;

  &:hover {
    color: white;
    background: darken($primaryColor, 10%);
    border: 1px double $secondaryColor;
  }
}

/* Will edit when hovered over. _span style also has this property*/
.CalendarDay__selected:hover {
  background: $secondaryColor;
  color: white;
}

/* Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date*/
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}

.DateInput_input__small{
  font-weight: 400;
  font-size: 0.9375rem;
}

.DateInput_input__focused {
  border-bottom: 2px solid $primaryColor;
}
